.container {
  margin: 2rem auto;
  max-width: 512px;

  form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 2rem auto;
    width: fit-content;

    mat-form-field {
      width: 26rem;

      ::ng-deep input {
        color: #000000;
      }
    }

    a {
      color: #3f51b5;
      margin-bottom: 1.375rem;
      text-decoration: none;
    }

    .buttons {
      margin: 0 auto;

      a {
        margin: 0 1rem;
      }
    }
  }
}
