<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>Books</mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="(books$ | async) as books">
        <a mat-list-item *ngFor="let book of books.content" [routerLink]="['/books', book.id]">
          {{book.title}}
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="pagination">
  <app-pagination *ngIf="page < (books$ | async)!.totalPages" [currentPage]="page" [totalPages]="(books$ | async)!.totalPages"></app-pagination>
  <app-sort-component></app-sort-component>
</div>

