<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>Borrowed books</mat-card-title>
    <mat-card-content>
      <mat-nav-list *ngIf="(checkouts$ | async) as checkouts">
        <a mat-list-item *ngFor="let checkout of checkouts.content" [routerLink]="['/checkouts', checkout.id]">
          {{ checkout.borrowedBook.title }}
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
</div>
<div class="pagination">
  <app-pagination *ngIf="(checkouts$ | async) as checkouts" [currentPage]="page"
                  [totalPages]="checkouts.totalPages"></app-pagination>
  <app-sort></app-sort>
</div>
