.container {
  max-width: 512px;
  margin: 2rem auto;

  form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 2rem auto;
    width: fit-content;

    mat-form-field {
      width: 26rem;

      ::ng-deep input {
        color: #000000;
      }
    }

    .buttons {
      margin: 0 auto;

      button, a {
        color: #3f51b5;
        margin: 0 1rem;
      }
    }
  }
}
