.container {
  margin: 2rem auto;
  max-width: 512px;

  form {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 2rem auto;
    width: fit-content;

    mat-form-field {
      margin-bottom: 1rem;
      width: 26rem;
    }

    .buttons {
      margin: 0 auto;

      button {
        color: #3f51b5;
        margin: 0 1rem;
      }
    }
  }
}
